<!DOCTYPE html><html><head><meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="shortcut icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABFElEQVR4nGNgGAWDCnyoj1F53xhX8qEhrpwc/B6ktz5GBacF7xri77xvjP9PCX7XEHcLpwWUGv4eiimy4F1D/P95IQG0s2BrUsh/Cxl76liwPTn0v7UsqmFhOi7/p/n7g9lWsg5gNWRZsCs59L+qgDXYxTCxK0VR/5UFrP8/q44F83enhGGoIdoCLRHb/12evigaS229/pfbeaGIgdSA1JJsAbrrntfE/lcRtP5/qTAKry/JjoOpfv7/I3RdUORBcmTHATq2kLHHcClVk+n8kEBwHqB5RntPjgWCLOaZgmzm5e0evv+pgQXZzMsFWSwy4BYIsVkUCrBadPhpOO8N13E9Tgn203DeCzILZCbOoBoFwwsAANDrrkWW05CKAAAAAElFTkSuQmCC"/><title>hello</title></head><style>
::-webkit-scrollbar{width:8px;background:#eeeeee;}::-webkit-scrollbar-thumb{background:#888888;}html{overflow-x:hidden;scroll-behavior:smooth;background:#dedede;}body{overflow-x:hidden;height:100%;width:100%;margin:0px auto;padding-top:2em;padding-bottom:62px;padding-left:22px;padding-right:22px;max-width:900px;line-heigt:2;font-family:monospace;font-weight:400;font-size:1.8em;color:#222222;background:#fbfbfb;}a,a:visited,a:active{color:#444444;font-weight:800;text-decoration:underline dashed #888888;}a:hover,a:visited:hover,a:active:hover{color:#888888;}p{margin:0;padding:0;margin-block-start:0;margin-block-end:0;}h1,h2,h3,h4,h5,h6{margin-block-start:0;margin-block-end:0;margin:0;padding:0;}hr{height:0;background:transparent;border-top: 1px dashed #bbbbbb;margin:1em 1em;}.high{height:120vw;}.center{text-align:center;}
.hello-wrapper{background:#ffffff;}
#hello{border:1em dashed #444444;}
</style>
<body>
<div class="hello-wrapper">
<a class="center" href=""><h1>hello</h1></a><hr/>
<h2 class="center">hello</h1><hr/>
<h4 class="center">hello</h2><hr/>
<a class="center" href="#hello"><p>hello</p></a><hr/>
<code class="center">hello</code><hr/>
<div class="high">hello</div><hr/>
<img width="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABFElEQVR4nGNgGAWDCnyoj1F53xhX8qEhrpwc/B6ktz5GBacF7xri77xvjP9PCX7XEHcLpwWUGv4eiimy4F1D/P95IQG0s2BrUsh/Cxl76liwPTn0v7UsqmFhOi7/p/n7g9lWsg5gNWRZsCs59L+qgDXYxTCxK0VR/5UFrP8/q44F83enhGGoIdoCLRHb/12evigaS229/pfbeaGIgdSA1JJsAbrrntfE/lcRtP5/qTAKry/JjoOpfv7/I3RdUORBcmTHATq2kLHHcClVk+n8kEBwHqB5RntPjgWCLOaZgmzm5e0evv+pgQXZzMsFWSwy4BYIsVkUCrBadPhpOO8N13E9Tgn203DeCzILZCbOoBoFwwsAANDrrkWW05CKAAAAAElFTkSuQmCC">
<hr id="hello"/><br/>
</div>
</body>
</html>
<!-- https://aeniks.github.io -->
<!-- https://aeniks.github.io -->
<!-- https://aeniks.github.io -->
<!-- https://aeniks.github.io -->
<!-- https://aeniks.github.io -->
